<!--The content below is only a placeholder and can be replaced.-->

<ul id="topMenu">
    <li><a class="homeLink" style="float: left" routerLink="home">Home</a></li>
    <li><a routerLink="register" *ngIf="!authService.isLoggedIn">Register</a></li>
    <li><a routerLink="login" *ngIf="!authService.isLoggedIn">Login</a></li>
    <li><a *ngIf="authService.isLoggedIn" class="logoutBtn" (click)="clickLogout()">Logout</a></li>

</ul>
<ul id="sideMenu" *ngIf="authService.isLoggedIn">
    <li><a routerLink="map">Map</a></li>
</ul>


<router-outlet></router-outlet>
