<!--The content below is only a placeholder and can be replaced.-->

<ul id="topMenu">
    <li><a style="float: left" routerLink="home">Home</a></li>
    <li><a routerLink="login" *ngIf="!authService.isLoggedIn">Login</a></li>
    <li><a *ngIf="authService.isLoggedIn" (click)="clickLogout()">Logout</a></li>
    <li><a routerLink="demo">Demo</a></li>

</ul>
<ul id="sideMenu" *ngIf="authService.isLoggedIn">
    <li><a routerLink="map">Map</a></li>
    <li><a routerLink="addAdeunis">Adeunis</a></li>
</ul>


<router-outlet></router-outlet>
