<div id="loginBody">
  <div id="formWrapper">
    <form id="formCenter" novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
      <span id="formTitle">Account sign in</span>
      <p id="labelEmail">Email: </p>
      <input id="email" name="email" formControlName="email"><br>
      <p id="labelPassword">Password: </p>
      <input type="password" id="password" name="password" formControlName="password"><br>
      <button id="loginSubmit">Login</button>
      <button id="registerButton">Register</button>
    </form>
  </div>
</div>