#addPointBody{
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

#addPointFormWrapper{
    margin: auto;   
    margin-top: 5%;
    position: relative;
    padding: 55px 85px 55px 85px;
    width: 560px;
    background: white;
    border-radius: 10px;

}

#formCenter {
    width: 100%;
}