<div id="addPointBody">
  <div id="addPointFormWrapper">
    <h1 style="width: 100%; text-align: center">Tilføj nyt punkt</h1>
    <form id="formCenter" style="margin-left: 72px;" novalidate [formGroup]="addPointForm"
      (ngSubmit)="onSubmit(addPointForm)">
      <div>
        <div style=" display: inline-block;">
          <p>Adresse</p>
          <input id="adresse" name="adresse" formControlName="adresse">
        </div>
        <div style="display: inline-block;  margin-left: 20px;">
          <p>Title</p>
          <input id="title" name="title" formControlName="title">
        </div>
      </div>
      <div>
        <div style="display: inline-block;">
          <p>Subtitle</p>
          <input id="subTitle" name="subTitle" formControlName="subTitle">
        </div>
        <div style="display: inline-block; margin-left: 20px;">
          <p>Text</p>
          <input id="text" name="text" formControlName="text">
        </div>
      </div>

      <button id="addPointSubmit">Tilføj</button>

    </form>
    <button type="button" class="btn btn-outline-dark" id="closeButton" (click)="close()">Luk</button>
  </div>

</div>