#addPointBody{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background-color: #ebebeb;
    height: 500px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#addPointFormWrapper{
    
    margin: auto;   
    margin-top: 3%;
    padding: 55px 85px 55px 85px;
    width: 560px;
    background: white;
    border-radius: 10px;
    height: 300px;
}

#formCenter {
    width: 100%;
}

#addPointSubmit{
    float: right;
    margin-right: 194px;
    margin-top: 20px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;

}

#closeButton{
    margin-left: 72px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: #333;
    color: white;
}

#addPointSubmit:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 6px 0 rgba(0,0,0,0.19);
}

#closeButton:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 6px 0 rgba(0,0,0,0.19);
}